environment:
  matrix:
    - PYTHON_ROOT: C:\Python36-x64
      PYTHON_VERSION: 3.6
    - PYTHON_ROOT: C:\Python27-x64
      PYTHON_VERSION: 2.7

platform: x64

init:
  - ps: |
      Write-Output "*** Python $env:PYTHON_VERSION ***"
      $env:Path += ";$env:PYTHON_ROOT;$env:PYTHON_ROOT\Scripts"

install:
  - ps: $ErrorActionPreference = "Stop"
  # - ps: git submodule --init update
  - ps: |
      Write-Output "Updating pip..."
      pip install -U pip
  - ps: |
      Write-Output "Installing wheel..."
      pip install wheel
  - ps: |
      Write-Output "Installing requirements..."
      pip install -r requirements.txt
  # - ps: |
  #     Write-Output "Installing PyWorld..."
  #     python setup.py install
  
build_script:
  # - ps: Write-Output "Cloning submodules..."
  - git submodule update --init
  - pip install -e .

test_script:
  - ps: |
      $ErrorActionPreference = "Stop"
      Set-Location "$env:APPVEYOR_BUILD_FOLDER\demo"
      python demo.py

after_test:
  - python setup.py bdist_wheel

artifacts:
  - path: dist\*
